.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
}


.rl-gallery-container {
	max-width: 60%;
	align-content: center;
	margin: 50px auto;

	.rl-gallery-item {
		margin: 0 auto;

		.rl-gallery-item-content a img {
			margin: 0 auto;
		}
	}

}