.home-container{
	position: relative;
}

header {
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;

	.logo-text {
		margin: 0 auto;
		text-transform: uppercase;
		color: white;
	}
}

.main-navigation {
	text-align: center;
	display: block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

	a {
		display: block;
		text-decoration: none;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	background-color: transparent;
    border: none;
    width: 28px;
    height: 28px;
    z-index: 999;
    position: fixed;
    top: 12px;
    left: -40%;
    cursor: pointer;
    display: block;
    outline: none;

    .bar {
        display: block;
        position: absolute;
        left: 0;
        border-top: 3px solid white;
        width: 100%;
        transition: 300ms;   
    }

    .bar-top {
        top: 0;
    }

    .bar-middle {
        top: 10px;
    }

    .bar-bottom {
        top: 20px;
    }
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		display: block;
	}

	.nav-menu {
		display: block;
	}

	.main-navigation ul li a {
		color: pink;
	}

	.menu-item ul a {
		color: white;
		display: block;
		padding-left: 30px;
		padding-right: 30px;
	}
}
}
