.site-branding h1 {
	font-family: $font__main;
	font-weight: 300;
	font-size: 28px;
	line-height: 42px;
	text-align: center;
}

#masthead {
	position: relative;
	.site-branding {
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		margin: auto;
		text-align: center;
		color: $color__text-normal;
		text-transform: uppercase;
		font-size: 14px;
	}

	.main-navigation {
		z-index: 999;
		position: absolute;
		top: 25px;
		font-family: $font__main;
		text-transform: uppercase;
		color: white;
	}
}


.home-site-header {
	background: url('images/1920_2396_home_image.jpg') no-repeat center top fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	background-attachment: fixed;
}

.contact-site-header {
	background: url('images/contact_dark_image.jpg') no-repeat center top fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	background-attachment: fixed;

}

.contact-site-main {
	position: absolute;
	top: 150px;
	left: 40px;

	.model-info-container, .email-me {
		line-height: 25px;
		margin-bottom: 50px;
		font-family: $font__testing;
		font-weight: 300;
		color: rgb(199, 199, 199);

		.about {
			font-family: $font__main;
			text-transform: uppercase;
			font-weight: 300;
			margin-bottom: 10px;
		}

		.line-break {
			display: block;
			width: 30px;
			border-top: 2px solid rgb(216, 216, 216);
			margin-bottom: 10px;
		}

		p {
			margin: 0;
			font-size: 16px;
		}
	}

	.email-me {
		font-size: 14px;

		a {
			color: rgb(216, 216, 216);
			padding-bottom: 5px;
			position: relative;
		}

		a:after {
			margin-top: 5px;
			content: '';
			position: absolute;
			width: 0;
			height: 1px;
			display: block;
			right: 0;
			background-color: rgb(199, 199, 199);
			transition: width .3s ease;
		}

		a:hover:after {
			width: 100%;
			left: 0;
			background-color: rgb(199, 199, 199);
		}

	}

}

.main-navigation.toggled ul li a {
	border-left: 2px solid transparent;
}


.main-navigation.toggled ul li a:hover {
	border-left: 2px solid white;
}

.site-header {
	position: relative;
	min-height: 70px;
	
	.site-branding {
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		margin: auto;
		color: $color__text-normal;
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
	}

	.main-navigation {
		z-index: 999;
		position: absolute;
		top: 25px;
	}
}


.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-weight: 300;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				// &:hover > ul,
				// &.focus > ul {
				// 	left: 100%;
				}
			}


			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		// float: left;
		// position: relative;
		color: white;
	}

	a {
		display: block;
		text-decoration: none;
	}

/* Small menu. */

.main-navigation .menu-toggle {
	background-color: transparent;
    border: none;
    width: 28px;
    height: 28px;
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 20px;
    cursor: pointer;
	display: block;
	color: white;

    .bar {
        display: block;
        position: absolute;
        left: 0;
        border-top: 2px solid white;
        width: 100%;
        transition: 300ms;   
    }

    .bar-top {
        top: 0;
    }

    .bar-middle {
        top: 10px;
    }

    .bar-bottom {
        top: 20px;
	}

}

.menu-toggle,
.main-navigation.toggled ul {
	margin-left: 20px;
	display: block;
}

.menu-toggle:focus {
	outline: none;
}

.main-navigation.toggled {
	outline: none;
	.bar-top {
        top: 10px;
        transform: rotate(45deg);
    }

    .bar-middle {
        opacity: 0;
    }

    .bar-bottom {
        top: 10px;
        transform: rotate(135deg);
    }
}

.main-navigation.toggled ul {
	display: block;
	position: absolute;
	top: 50px;
	left: 0px;
	background-color: trasparent;

	li a {
		display: block;
		color: white;
		margin-bottom: 10px;
		padding: 0 0 0 20px;
	}
}

@media screen and (min-width: 450px) {
	.contact-site-main {
		position: absolute;
		top: 30%;
		left: 40px;
	}



}

@media screen and (min-width: 730px) {
	.site-header {
		min-height: 100px;
	}

	.main-navigation .menu-toggle {
		display: none;
	}
	
	.main-navigation ul {
		margin-block-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0px;
		display: flex;
		justify-content: space-between;
		margin: 50px auto;
		max-width: 60%;


		li a {
			text-align: center;
			padding-bottom: 5px;
			flex: 1;
			color: $color__text-normal;
			text-transform: uppercase;
			position: relative;
		}

		li a:after {
			content: '';
            position: absolute;
            width: 0;
            height: 1px;
            display: block;
			right: 0;
            background-color: whitesmoke;
            transition: width .3s ease;
		}

        li a:hover:after {
            width: 100%;
            left: 0;
            background-color: whitesmoke;
        }


		#menu-item-18 {
			margin-left: 22px;
		}
	}
	.contact-site-main {
		left: 20%;
		top: 30%;
	}

	.site-branding h1 {
		font-size: 32px;
	}

}

@media screen and (min-width: 998px) {

	.site-header {
		min-height: 150px;
	}

	.home-site-header {
		background: url('images/1920_2396_home_image.jpg') no-repeat center top scroll;
		min-height: 250vh;
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.site-info {
	text-align: center;
	color: $color__text-normal;
}
